/* home.css */

.home-wrapper {
  text-align: center;
  margin-top: 120px;
}

.home-title {
  font-size: 42px;
  font-weight: 700;
  color: #1e3a8a;
}

.home-sub {
  margin-top: 20px;
  font-size: 18px;
  color: #334155;
}

